## Generic
.idea/
vendor/
node_modules/
npm-debug.log
composer.lock
producer
producer.log
repository/

## Webhook
/logs/*.log
/manifest.json
/tasks/
!tasks/.gitkeep
!tasks/samples/
!tasks/samples/*.sh
!tasks/samples/.gitkeep
!tasks/syncme.sh
