## Generic
.idea/
vendor/
node_modules/
npm-debug.log
composer.lock
producer
producer.log
repository/
phpunit.xml

## Webhook
/logs/*
!logs/.gitkeep
/manifest.json
/tasks/*
!tasks/.gitkeep
!tasks/samples/
!tasks/samples/*.sh
!tasks/samples/.gitkeep
!tasks/syncme.sh
