## Generic
.idea/
vendor/
ndev_modules/
node_modules/
repository/
npm-debug.log
composer.lock
producer
producer.log
phpunit.xml

## Webhook
/log/*
!log/.gitkeep
!log/task/.gitkeep
/secret.php
/manifest.json
/task/*
!task/samples/*
!task/update.sh
!task/test.sh
