{
    "name": "webhook-manifest",
    "host": "http://localhost/webhook/webhook.php"
    "hook": {
        "webhook-update": {
            "task": "update.sh"
        },
        "test": {
            "task": ""
        }
    },
    "cron": [
        {
          "time": "30 2 * * *",
          "task": "syncme.sh"
        }
    ]
}
