{
  "name": "webhook-manifest",
  "path": ".",
  "hook": [
    {
      "name": "update-",
      "task": ""
    }
  ],
  "cron": [
    {
      "time": "* * * * *",
      "task": ""
    }
  ],
  "once": [
    "ls"
  ],
  "skip": [

  ]
}
