{
    "name": "webhook-manifest",
    "hook": {
        "update-webhook": {
            "task": "syncme.sh"
        }
    },
    "cron": [
        {
          "time": "30 2 * * *",
          "task": "syncme.sh"
        }
    ]
}
